<br>
<div class="container">
  <table class="table table-hover">
    <thead>
    <tr class="table-secondary">
      <th scope="col">Nick</th>
      <th scope="col">Email</th>
      <th scope="col">Rol</th>
      <th scope="col">funcionalidades</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cliente of clientes" class="table-light">
      <th scope="row">{{cliente.data.nick}}</th>
      <td>{{cliente.data.email}}</td>
      <td>{{cliente.data.rol}}</td>
      <td>
        <button type="button" (click)="Leer(cliente)" class="btn btn-success m-1 w-75">Leer</button>
        <button type="button" (click)="Actualizar(cliente)" class="btn btn-info m-1 w-75">Actualizar</button>

      </td>
    </tr>
    </tbody>
    <tr>
      <th colspan="5"><button (click)="Crear()" class="btn btn-outline-success w-100">Crear</button></th>
    </tr>
  </table>
</div>
