
<div class="container">

  <form class="mt-3" [formGroup]="userForm">
    <div class="card">
      <h3 class="form-label mt-4 text-center">Iniciar Sesion</h3>

      <div class="row justify-content-md-center">
        <div class="form-floating mb-3 col-md-5">

          <input type="email" class="form-control" id="Email" formControlName="email" [class]="esValido('email')">
          <label for="Email">Email</label>
          <div class="invalid-feedback">
            <span *ngIf="userForm.get('email').errors?.pattern">
             el patron de un email es algo@algo.algo
            </span>
            <span *ngIf="userForm.get('email').errors?.required">
              hay que escribir aqui, que no se te olvide
            </span>
          </div>

        </div>

        <div class="form-floating col-md-5">

          <input type="password" class="form-control" id="Contraseña" formControlName="contraseña" [class]="esValido('contraseña')">
          <label for="Contraseña">Contraseña</label>
          <div class="invalid-feedback">
            <span *ngIf="userForm.get('contraseña').errors?.required">
              hay que escribir aqui, que no se te olvide
            </span>
            <span *ngIf="userForm.get('contraseña').errors?.pattern">
             la contraseña tiene q tener mas de 6 caracteres solo letras mayusculas minusculas y numeros
            </span>
          </div>
        </div>
      </div>


      <div class="row justify-content-md-center">
        <input type="submit" class="btn btn-outline-success col-10 mb-3" (click)="iniciar()" value="iniciar sesion" [class]="chequeado()">
      </div>

      <div class="row justify-content-md-center">
        <input type="submit" class="btn btn-outline-success col-10 mb-3" (click)="olvidada()" value="recuperar Contraseña" [class]="chequeoEmail()">
      </div>

      <div class="row justify-content-md-center">
        <input type="submit" class="btn btn-outline-danger col-10 mb-3" (click)="loginGoogle()" value="Google">
      </div>
    </div>



  </form>

  <button type="button" class="btn btn-outline-info mt-2" (click)="Register()">Crear una cuenta</button>
</div>
