
<br>
<div class="container">
  <table class="table table-hover">
    <thead>
    <tr class="table-secondary">
      <th scope="col">cliente</th>
      <th scope="col">libro</th>
      <th scope="col">fecha prestamo</th>
      <th scope="col">fecha devolucion</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prestamo of prestamos" class="table-light">

      <th scope="row">{{prestamo.data.cli_nick}}</th>

      <td>{{prestamo.data.lib_tit}}</td>

      <td>{{prestamo.data.fec_prestamo.toDate().getDate()}}/{{prestamo.data.fec_prestamo.toDate().getMonth()+1}}/{{prestamo.data.fec_prestamo.toDate().getFullYear()}}</td>

      <div *ngIf="prestamo.data.fec_dev !=null">
        <td>{{prestamo.data.fec_dev.toDate().getDate()}}/{{prestamo.data.fec_dev.toDate().getMonth()+1}}/{{prestamo.data.fec_dev.toDate().getFullYear()}}</td>
      </div>
      <div *ngIf="prestamo.data.fec_dev ==null">
        <td><button type="button"  (click)="Devolver(prestamo)" class="btn btn-info m-1">Devolver</button></td>
      </div>
    </tr>
    </tbody>
  </table>
</div>
