<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio">Libreria Matildo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/libros">Libros
            <span class="visually-hidden">(current)</span>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/clientes">clientes
            <span class="visually-hidden">(current)</span>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/prestamos">prestamos
            <span class="visually-hidden">(current)</span>
          </a>
        </li>

        <li *ngIf="userInfo | async as user" class="nav-item" routerLinkActive="active">
          <p style="cursor: pointer" class="nav-link" (click)="CerrarSesion()">cerrar sesion
          </p>
        </li>

      </ul>
    </div>
  </div>
</nav>
