
<div class="container">
  <div class="card mt-2">
    <div class="card-header">Detalles del cliente</div>
    <div class="card-body bg-secondary">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-secondary">Titulo:<h5>{{cliente.data.nick}}</h5></li>
        <li class="list-group-item bg-secondary">ISBN :<h5>{{cliente.data.email}}</h5></li>
        <li class="list-group-item bg-secondary">Autor: <h5>{{cliente.data.rol}}</h5></li>
      </ul>
    </div>
    <div class="btn-group" role="group">
      <button type="button"  class="btn btn-outline-info m-1" (click)="Actualizar(cliente)">Actualizar</button>
      <button type="button"  class="btn btn-outline-danger m-1" (click)="Borrar(cliente)">Borrar</button>
    </div>
  </div>
  <button type="button" class="btn btn-outline-success mt-2" (click)="Listado()">Volver a la lista</button>
</div>


