
<br>
<div class="container">
<table class="table table-hover">
  <thead>
  <tr class="table-secondary">
    <th scope="col">Titulo</th>
    <th scope="col">ISBN</th>
    <th scope="col">Autor</th>
    <th scope="col">Descripcion</th>
    <th scope="col">funcionalidades</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let libro of libros" class="table-light">
    <th scope="row">{{libro.data.titulo}}</th>
    <td>{{libro.data.isbn}}</td>
    <td>{{libro.data.autor}}</td>
    <td>{{libro.data.descripcion}}</td>
    <td>
      <button type="button" (click)="Leer(libro)" class="btn btn-success m-1 w-75"[class]="EstaPrestado(libro)">Leer</button>
      <button type="button" (click)="Actualizar(libro)" class="btn btn-info m-1 w-75"[class]="EstaPrestado(libro)">Actualizar</button>
      <button *ngIf="libro.prestamo!=null;else elseBlock" type="button" (click)="Devolver(libro.prestamo)" class="btn btn-warning m-1 w-75">Devolver</button>
      <ng-template #elseBlock><button  type="button" (click)="CrearPrestamo(libro)" class="btn btn-warning m-1 w-75">Crear Prestamo</button></ng-template>

    </td>
  </tr>
  </tbody>
  <tr>
    <th colspan="5"><button (click)="Crear()" class="btn btn-outline-success w-100">Crear</button></th>
  </tr>
</table>
</div>
