
<div class="container">

  <form class="mt-3" [formGroup]="librosForm" (ngSubmit)="Enviar()">
    <div class="card">
      <h3 class="form-label mt-4 text-center">{{texto[0]}}</h3>

      <div class="row justify-content-md-center">
        <div class="form-floating mb-3 col-md-5">
          <input type="text" class="form-control" id="Titulo" formControlName="titulo" [class]="esValido('titulo')">
          <label for="Titulo">Titulo</label>
          <div class="invalid-feedback">
            <span *ngIf="librosForm.get('titulo').errors?.required">
              hay que escribir aqui, que no se te olvide, que sin el no puedo crear un libro
            </span>
          </div>
        </div>
        <div class="form-floating col-md-5">
          <input type="text" class="form-control" id="Isbn" formControlName="isbn" [class]="esValido('isbn')">
          <label for="Isbn">ISBN</label>
          <div class="invalid-feedback">
            <span *ngIf="librosForm.get('isbn').errors?.required">
              hay que escribir aqui, que no se te olvide, que sin el no puedo crear un libro
            </span>
            <span *ngIf="librosForm.get('isbn').errors?.pattern">
             el patron del isbn es un numero entre 10-13
            </span>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="form-floating mb-3 col-md-5">
          <input type="text" class="form-control" id="Autor" formControlName="autor" [class]="esValido('autor')">
          <label for="Autor">Autor</label>
          <div class="invalid-feedback">
            <span *ngIf="librosForm.get('autor').errors?.required">
              hay que escribir aqui, que no se te olvide, que sin el no puedo crear un libro
            </span>
          </div>
        </div>
        <div class="form-floating col-md-5">
          <input type="text" class="form-control" id="descripcion" formControlName="descripcion" [class]="esValido('descripcion')">
          <label for="descripcion">descripcion</label>
          <div class="invalid-feedback">
            <span *ngIf="librosForm.get('descripcion').errors?.required">
              hay que escribir aqui, que no se te olvide, que sin el no puedo crear un libro
            </span>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <input type="submit" class="btn btn-outline-success col-10 mb-3" (click)="Enviar()" value="{{texto[1]}}" [class]="chequeado()">
      </div>
    </div>
  </form>

  <button type="button" class="btn btn-outline-info mt-2" (click)="Listado()">Volver a la lista</button>
</div>
