
<div class="container">

  <form class="mt-3" [formGroup]="clientesForm" (ngSubmit)="Actualizar()">
    <div class="card">
      <h3 class="form-label mt-4 text-center">{{texto[0]}}</h3>

      <div class="row justify-content-md-center">
        <div class="form-floating mb-3 col-md-5">
          <input type="text" class="form-control" id="nick" formControlName="nick" [class]="esValido('nick')">
          <label for="nick">Nick</label>
          <div class="invalid-feedback">
            <span *ngIf="clientesForm.get('nick').errors?.required">
              hay que escribir aqui, que no se te olvide, que sin el no puedo crear un libro
            </span>
          </div>
        </div>
        <div class="form-floating col-md-5">
          <input type="text" class="form-control" id="email" formControlName="email" [class]="esValido('email')">
          <label for="email">email</label>
          <div class="invalid-feedback">
            <span *ngIf="clientesForm.get('email').errors?.required">
              hay que escribir aqui, que no se te olvide, que sin el no puedo crear un libro
            </span>
            <span *ngIf="clientesForm.get('email').errors?.pattern">
             el patron del isbn es un numero entre 10-13
            </span>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="form-floating mb-3 col-md-5">
          <input type="text" class="form-control" id="contraseña" formControlName="contraseña"
                 [class]="esValido('contraseña')">
          <label for="contraseña">contraseña</label>
          <div class="invalid-feedback">
            <span *ngIf="clientesForm.get('contraseña').errors?.required">
              hay que escribir aqui, que no se te olvide, que sin el no puedo crear un libro
            </span>
          </div>
        </div>

        <div class="form-floating col-md-5">
          <input type="text" class="form-control" id="rol" formControlName="rol" [class]="esValido('rol')">
          <label for="rol">rol</label>
          <div class="invalid-feedback">
            <span *ngIf="clientesForm.get('rol').errors?.required">
              hay que escribir aqui, que no se te olvide, que sin el no puedo crear un libro
            </span>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <input type="submit" class="btn btn-outline-success col-10 mb-3" (click)="Enviar()" value="{{texto[1]}}"
               [class]="chequeado()">
      </div>
    </div>
  </form>
  <button type="button" class="btn btn-outline-info mt-2" (click)="Listado()">Volver a la lista</button>
</div>
