
<div class="container">
  <div class="card mt-2">
    <div class="card-header">Detalles del libro</div>
    <div class="card-body bg-secondary">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-secondary">Titulo:<h5>{{libro.data.titulo}}</h5></li>
        <li class="list-group-item bg-secondary">ISBN :<h5>{{libro.data.isbn}}</h5></li>
        <li class="list-group-item bg-secondary">Autor: <h5>{{libro.data.autor}}</h5></li>
        <li class="list-group-item bg-secondary">Descripcion: <h5>{{libro.data.descripcion}}</h5></li>
      </ul>
    </div>
    <div class="btn-group" role="group">
      <button type="button"  class="btn btn-outline-info m-1" (click)="Actualizar(libro)">Actualizar</button>
      <button type="button"  class="btn btn-outline-danger m-1" (click)="Borrar(libro)">Borrar</button>
    </div>
  </div>
  <button type="button" class="btn btn-outline-success mt-2" (click)="Listado()">Volver a la lista</button>
</div>


