
<div class="container">

  <form class="mt-3" [formGroup]="prestamosForm" (ngSubmit)="Crear()">
    <div class="card">
      <h3 class="form-label mt-4 text-center">Crear un prestamo para {{libro.data.titulo}}</h3>

      <div class="row justify-content-md-center">
        <div class="form-floating mb-3 col-md-5">
          <p>¿Quien eres?</p>
          <select formControlName="cliente">
            <option *ngFor="let cliente of clientes" [ngValue]="cliente" >{{cliente.data.nick}}</option>
          </select>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <input type="submit" class="btn btn-outline-success col-10 mb-3" [class]="chequeado()" (click)="Crear()" value="Crear Prestamo">
      </div>
    </div>
  </form>
  <button type="button" class="btn btn-outline-info mt-2" (click)="Listado()">Volver a la lista de libros</button>
</div>
